<div>
	<h2 align="center">Thank You!</h2>
	<p align="center">
		We have received your questionnaire and <br />
		will notify you when we've paired you<br />
		with your match</p>
</div>

<div>
	<p align="center">
		If you have any questions or think you made an error,<br />
		please contact: <br />
		<a href="mailto:mentormatch@codefellows.com">mentormatch@codefellows.com</a></p>
</div>
