
<table>
  <tr>
    <th>Student</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reviews.each do |review| %>
  <tr>
    <td><%= review.student %></td>
    <td><%= review.body %></td>
  </tr>
<% end %>
</table>
